In [13]:
#Importing necessary packages
import pandas as pd
import numpy as np

In [14]:
# Reading the suicide data classified by profession
suicide_by_profession = pd.read_csv("Profession_profile_of_suicide_victims_state.csv")

In [15]:
suicide_by_profession.head()

,STATE/UT,Year,CAUSE,Male upto 14 years,Male 15-29 years,Male 30-44 years,Male 45-59 years,Male 60 years and above,Total Male,Female upto 14 years,Female 15-29 years,Female 30-44 years,Female 45-59 years,Female 60 years and above,Total Female,Grand Total
0,ANDHRA PRADESH,2001,House Wife,0,0,0,0,0,0,0,1132,811,397,104,2444,2444
1,ANDHRA PRADESH,2001,Service (Government),0,34,57,44,0,135,0,23,22,9,7,61,196
2,ANDHRA PRADESH,2001,Service (Private),1,250,275,138,10,674,5,43,24,28,6,106,780
3,ANDHRA PRADESH,2001,Public Sector Undertaking,0,32,36,29,13,110,0,4,5,1,0,10,120
4,ANDHRA PRADESH,2001,Student,56,202,19,18,0,295,46,115,5,9,0,175,470

In [16]:
suicide_by_profession = suicide_by_profession.rename(columns = {"STATE/UT": "State"})

In [20]:
suicide_by_profession.shape

(6300, 16)

In [18]:
#DATA CLEANING -> Removing what is unncessary

In [19]:
#The exploratory analysis revealed that there are some unneccessary rows at the end of the dataset, those would serve no purpose at all. So, it'd be better to just remove them.

discard = ['TOTAL']

suicide_by_profession = suicide_by_profession[~suicide_by_profession.State.str.contains('|'.join(discard))]

In [21]:
#DATA TRANSFORMATION -> making data suitable for analysis

In [22]:
#The next important step is to make changes to data so that it satisfies our analysis requirements. 

# First things first, we are only interested in the suicide data for the year 2011, so dropping all other years except this one.

#Secondly, we are only interested in knowing suicide numbers for unemployed people, so have to discard the rest of profession categories

suicide_by_profession = suicide_by_profession.loc[suicide_by_profession['Year'] == 2011]

suicide_by_profession = suicide_by_profession.loc[suicide_by_profession['CAUSE'] == "Unemployed"]

In [23]:
#Making sure that the data looks like how we want it to be 

suicide_by_profession

,State,Year,CAUSE,Male upto 14 years,Male 15-29 years,Male 30-44 years,Male 45-59 years,Male 60 years and above,Total Male,Female upto 14 years,Female 15-29 years,Female 30-44 years,Female 45-59 years,Female 60 years and above,Total Female,Grand Total
155,ANDHRA PRADESH,2011,Unemployed,0,181,248,98,8,535,0,59,30,14,4,107,642
335,ARUNACHAL PRADESH,2011,Unemployed,0,5,2,0,0,7,1,2,0,0,0,3,10
515,ASSAM,2011,Unemployed,0,7,15,21,5,48,0,6,5,0,0,11,59
695,BIHAR,2011,Unemployed,0,14,22,12,1,49,0,5,2,0,0,7,56
875,CHHATTISGARH,2011,Unemployed,3,182,246,146,15,592,0,18,11,3,2,34,626
1055,GOA,2011,Unemployed,1,13,12,13,4,43,1,5,2,0,0,8,51
1235,GUJARAT,2011,Unemployed,2,163,182,82,14,443,0,24,18,6,0,48,491
1415,HARYANA,2011,Unemployed,4,91,146,75,16,332,0,15,11,17,1,44,376
1595,HIMACHAL PRADESH,2011,Unemployed,0,9,7,0,1,17,0,4,2,0,0,6,23
1775,JAMMU & KASHMIR,2011,Unemployed,0,2,12,4,0,18,0,15,3,0,0,18,36
1955,JHARKHAND,2011,Unemployed,0,23,44,17,1,85,0,2,1,2,1,6,91
2135,KARNATAKA,2011,Unemployed,0,256,362,154,28,800,2,86,14,14,8,124,924
2315,KERALA,2011,Unemployed,0,94,165,117,54,430,0,54,40,10,11,115,545
2495,MADHYA PRADESH,2011,Unemployed,6,107,80,15,5,213,6,32,9,3,0,50,263
2675,MAHARASHTRA,2011,Unemployed,0,299,203,71,18,591,3,50,7,6,1,67,658
2855,MANIPUR,2011,Unemployed,0,1,4,1,0,6,0,0,0,0,0,0,6
3035,MEGHALAYA,2011,Unemployed,0,12,6,0,0,18,0,1,2,0,0,3,21
3215,MIZORAM,2011,Unemployed,0,15,11,0,0,26,0,1,0,0,0,1,27
3395,NAGALAND,2011,Unemployed,0,0,1,0,0,1,0,0,0,0,0,0,1
3575,ODISHA,2011,Unemployed,32,149,149,49,2,381,11,65,48,19,6,149,530
3755,PUNJAB,2011,Unemployed,0,48,26,12,8,94,0,4,2,0,0,6,100
3935,RAJASTHAN,2011,Unemployed,0,63,42,9,0,114,0,9,4,1,0,14,128
4115,SIKKIM,2011,Unemployed,0,3,9,5,0,17,0,1,3,5,0,9,26
4295,TAMIL NADU,2011,Unemployed,14,408,596,599,146,1763,15,239,114,85,18,471,2234
4475,TRIPURA,2011,Unemployed,0,1,1,0,0,2,0,0,0,0,0,0,2
4655,UTTAR PRADESH,2011,Unemployed,1,132,86,29,11,259,3,22,27,9,2,63,322
4835,UTTARAKHAND,2011,Unemployed,1,12,13,7,3,36,0,3,2,0,0,5,41
5015,WEST BENGAL,2011,Unemployed,0,394,638,139,24,1195,0,138,163,76,6,383,1578
5375,A & N ISLANDS,2011,Unemployed,0,3,5,2,0,10,0,0,0,1,0,1,11
5555,CHANDIGARH,2011,Unemployed,0,8,1,1,0,10,0,2,0,0,0,2,12
5735,D & N HAVELI,2011,Unemployed,0,0,0,0,0,0,0,0,0,0,0,0,0
5915,DAMAN & DIU,2011,Unemployed,0,0,0,0,0,0,0,0,0,0,0,0,0
6095,DELHI (UT),2011,Unemployed,1,210,130,25,4,370,1,40,10,3,1,55,425
6275,LAKSHADWEEP,2011,Unemployed,0,0,0,0,0,0,0,0,0,0,0,0,0
6455,PUDUCHERRY,2011,Unemployed,0,13,15,19,25,72,0,19,2,1,10,32,104

In [24]:
#This data eventually has to be joined with the census 2011 data for relating unemployment and suicide rate.

#In order to make it suitable for merging, the CAUSE column has to be dropped. 

#As of now, all of the subsequent columns i.e. suicide count by age group and gender reflect the suicides committed by unemployed people only.

suicide_by_profession = suicide_by_profession.drop(['CAUSE'], axis = 1)

In [25]:
#Adjusting the index 

suicide_by_profession.reset_index(inplace = True, drop = True)

In [26]:
suicide_by_profession = suicide_by_profession.sort_values("State")

In [27]:
#Dataset after transformation

suicide_by_profession

,State,Year,Male upto 14 years,Male 15-29 years,Male 30-44 years,Male 45-59 years,Male 60 years and above,Total Male,Female upto 14 years,Female 15-29 years,Female 30-44 years,Female 45-59 years,Female 60 years and above,Total Female,Grand Total
28,A & N ISLANDS,2011,0,3,5,2,0,10,0,0,0,1,0,1,11
0,ANDHRA PRADESH,2011,0,181,248,98,8,535,0,59,30,14,4,107,642
1,ARUNACHAL PRADESH,2011,0,5,2,0,0,7,1,2,0,0,0,3,10
2,ASSAM,2011,0,7,15,21,5,48,0,6,5,0,0,11,59
3,BIHAR,2011,0,14,22,12,1,49,0,5,2,0,0,7,56
29,CHANDIGARH,2011,0,8,1,1,0,10,0,2,0,0,0,2,12
4,CHHATTISGARH,2011,3,182,246,146,15,592,0,18,11,3,2,34,626
30,D & N HAVELI,2011,0,0,0,0,0,0,0,0,0,0,0,0,0
31,DAMAN & DIU,2011,0,0,0,0,0,0,0,0,0,0,0,0,0
32,DELHI (UT),2011,1,210,130,25,4,370,1,40,10,3,1,55,425
5,GOA,2011,1,13,12,13,4,43,1,5,2,0,0,8,51
6,GUJARAT,2011,2,163,182,82,14,443,0,24,18,6,0,48,491
7,HARYANA,2011,4,91,146,75,16,332,0,15,11,17,1,44,376
8,HIMACHAL PRADESH,2011,0,9,7,0,1,17,0,4,2,0,0,6,23
9,JAMMU & KASHMIR,2011,0,2,12,4,0,18,0,15,3,0,0,18,36
10,JHARKHAND,2011,0,23,44,17,1,85,0,2,1,2,1,6,91
11,KARNATAKA,2011,0,256,362,154,28,800,2,86,14,14,8,124,924
12,KERALA,2011,0,94,165,117,54,430,0,54,40,10,11,115,545
33,LAKSHADWEEP,2011,0,0,0,0,0,0,0,0,0,0,0,0,0
13,MADHYA PRADESH,2011,6,107,80,15,5,213,6,32,9,3,0,50,263
14,MAHARASHTRA,2011,0,299,203,71,18,591,3,50,7,6,1,67,658
15,MANIPUR,2011,0,1,4,1,0,6,0,0,0,0,0,0,6
16,MEGHALAYA,2011,0,12,6,0,0,18,0,1,2,0,0,3,21
17,MIZORAM,2011,0,15,11,0,0,26,0,1,0,0,0,1,27
18,NAGALAND,2011,0,0,1,0,0,1,0,0,0,0,0,0,1
19,ODISHA,2011,32,149,149,49,2,381,11,65,48,19,6,149,530
34,PUDUCHERRY,2011,0,13,15,19,25,72,0,19,2,1,10,32,104
20,PUNJAB,2011,0,48,26,12,8,94,0,4,2,0,0,6,100
21,RAJASTHAN,2011,0,63,42,9,0,114,0,9,4,1,0,14,128
22,SIKKIM,2011,0,3,9,5,0,17,0,1,3,5,0,9,26
23,TAMIL NADU,2011,14,408,596,599,146,1763,15,239,114,85,18,471,2234
24,TRIPURA,2011,0,1,1,0,0,2,0,0,0,0,0,0,2
25,UTTAR PRADESH,2011,1,132,86,29,11,259,3,22,27,9,2,63,322
26,UTTARAKHAND,2011,1,12,13,7,3,36,0,3,2,0,0,5,41
27,WEST BENGAL,2011,0,394,638,139,24,1195,0,138,163,76,6,383,1578

In [15]:
suicide_by_profession.to_csv("profession.csv",header= True, index= False)

In [28]:
suicide_by_profession.shape

(35, 15)